<!-- Footer -->
<footer class="footer bg-white text-dark text-center py-4">
    <div class="container">
        <p class="text-dark me-3">Galería de imagenes</p>
    </div>
</footer>

<!-- Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>